.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}

Col {
    padding-top: 5px;
}

.fixed-column {
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%
}