.navbar {
    position: fixed;
    display: block;
    height: 56px;
    left: 0;
    right: 0;
    z-index: 2;
}

.header-text {
    font-weight: 700;
    padding-left: 10px;
    color: rgb(1, 1, 1);
}

.header-logo {
    margin-left: 10px;
}