.navbar-container {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: fixed;
    display: block;
    height: 80px;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    z-index: 2;
    height: 64px;
}

.header-text {
    padding-left: 10px;
    font-size: 26px;
    color: rgb(1, 1, 1);
}

.header-logo {
    margin-left: 10px;
}

.header-color {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 16px;

    background: rgb(53,66,110);
    background: linear-gradient(83deg, rgba(53,66,110,1) 66%, rgba(200,53,56,1) 66%); 
}