.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}

Col {
    padding-top: 5px;
}

.fixed-column {
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%;
    max-height: calc(100vh - 104px);
    overflow-y: scroll;
    z-index: 2;

    background-color: rgba(210, 211, 213, 0.5)
}

.section-column {
    max-height: calc(100vh - 104px);
    overflow-y: scroll;
}

.section-column .background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('../assets/section-background2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    left: 0;
    right: 0;
    top: 104px;
    width: 100vw;
    height: 100vh;

    /* filter: blur(4px);
    -webkit-filter: blur(4px); */
}

.section-column .content {
    overflow: auto;
    position: relative;
    /* left: 20vw; */
    /* right: 0; */
    z-index: 9999;
}

.columns {
    position: fixed;
    left: 0;
    right: 0;
    top: 104px;
    z-index: 1;
    display: block;
}

a {
    color: var(--primary-blue2) !important;
}

.fixed-title {
    font-weight: 700;
    color: var(--primary-red) !important;
}

.button {
    background-color: var(--accent-blue2);
    border-color: var(--accent-blue);
}

.button:hover {
    background-color: var(--accent-blue);
    border-color: var(--accent-blue2);
}

.button-red {
    background-color: var(--primary-red);
}

.button-gray {
    background-color: var(--accent-gray);
    border-color: var(--accent-bluegray);
    color: black;
}