.hanging {
    text-indent: -28px;
    padding-left: 28px;
}

.bookmark {
    color: black;
}

.bookmark:hover {
    cursor: pointer;
}

.grip {
    color: black;
}

.grip:hover {
    cursor: grab;
}

.link {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 6px;
}

.link-default {
    padding-left: 6px !important;
}