.hanging {
    text-indent: -28px;
    padding-left: 28px;
}

.bookmark {
    color: black;
}

.bookmark:hover {
    cursor: pointer;
}

.grip {
    color: black;
}

.grip:hover {
    cursor: grab;
}

.link {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 6px;
}

.link-default {
    padding-left: 6px !important;
}

/* .link-overflow {
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    width: 200px;
    max-width: 100%;
}

.link-overflow:hover{
    overflow: visible;
    white-space: normal;
    height:auto;
} */